@import url(https://fonts.googleapis.com/css?family=Scope+One);
@import 'https://fonts.googleapis.com/css?family=Oswald:700';

body {
    background-color: #DDDDDD;
    margin-left: 20px;
    margin-right: 20px;
    font-size:20px;
}

h2, h3, ul, ol {
    color: #FFFFFF;
}

h3,ul {
  margin:0;
  padding:0;
}

ul, ol {
	padding-left: 20px;
	list-style-position: inside;
}

a {
	color: #07889B;
	text-decoration: none;
}

p, ul, ol {
	font-family: 'Scope One';
}

header {
	color: #FFFFFF;
	background-color: #000000;
	font-family: 'Oswald', sans-serif;	
	width:100%;
	position:fixed;
	top:0px;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
}

footer {
	color: #07889B;
	text-align: center;
	font-style: italic;
	padding:20px;
	clear: both;
}

nav {
	float:right;
}

nav a {
	font-size: 1.5em;
	padding: .5em;
	background-color: #000000;
	font-style: normal;
	color: inherit;
	text-decoration: none;
}

.clearfix:after {
	visibility:hidden;
	content:" ";
	display:block;
	clear:both;
	font-size:0;
	height:0;
}

.subheading {
	font-size: 2.7em;
}

.subtext {
	font-size: 1.2em;
}

#abovethefold {
	background-image: url('../images/Calculator Background.jpg');
	background-size: cover;
	padding: 10%;
	color:#FFFFFF;
}

#slogan {
	font-family: 'Oswald', sans-serif;
	font-size: 3.5em;
	margin:0;
	padding:.5em 0;
	width:11em;
	overflow:hidden;
	line-height:1.5em;
}

#aboutus {
	font-size: 1.6em;
	width: 23.5em;
	font-family: 'Scope One', serif;
	line-height: 1.25em;
}

#contactus {
	background-image: url('../images/Cubes Background.JPG');
	background-size: cover;
	color: #FFFFFF;
	float:left;
	padding-bottom: 16.5em;
	padding-top: 16.5em;
	width:50%;
	text-align:center;
}

#pagetitle {
	padding: 0px;
	margin: 0px;
}

#whatweoffer {
	background-image: url('../images/Numbers Background.JPG');
	background-size: cover;
	float: left;
	padding-top: 16.05em;
	padding-bottom: 16.05em;
	width:50%;
	text-align:center;
}

#heroimage {
	float:right;
	width:40%;
}

#readmore {
	color: #FFFFFF;
	font-style: italic;
	text-decoration: underline;
}

nav a:hover {
	background-color: #FC4A1A;
}

@media only screen and (max-width: 1850px) {
	#heroimage {
		float:none;
	}
}

@media only screen and (max-width: 1200px) {
	#whatweoffer, #contactus {
		float:none;
		width:100%;
	}
}
