@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Scope+One);

body {
    background-color: #DDDDDD;
    margin-left: 20px;
    margin-right: 20px;
}

h2, h3, ul, ol {
    color: #FFFFFF;
}

h3,ul{
  margin:0;
  padding:0;
}

ul, ol {
	padding-left: 20px;
	list-style-position: inside;
}

a {
	color: #07889B;
	text-decoration: none;
}

h3 {
	font-family: 'Permanent Marker', cursive;
	font-weight: lighter;
}

p, ul, ol {
	font-family: 'Scope One';
}

header {
	color: #07889B;
	background-color: #FFED74;
	font-family: 'Permanent Marker', cursive;
	width:100%;
	position:fixed;
	top:0px;
	border: 1px black solid;
    padding: 20px;
}

header h1 span a {
	font-size: 24px;
	margin-right: 25px;
	font-style: none;
	color: inherit;
	text-decoration: none;
}

footer {
	color: #07889B;
	background-color: #FFE2B8;
	text-align: center;
	font-style: italic;
	padding:20px;
	clear: both;
	border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
    padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
    color: #000000;
}

.subheading {
	font-size: 54px;
}


.subtext {
	font-size: 24px;
}

#abovethefold {
	background-size: cover;
	padding: 250px;
}

#slogan {
	font-family: 'Permanent Marker', cursive;
	font-size: 69px;
	margin:0px;
	padding:0px;
	width:750px;
	overflow:hidden;
	line-height:1.5em;
}

#aboutus {
	font-size: 32px;
	width: 750px;
	font-family: 'Scope One', serif;
	line-height: 1.25em;
}

#contactus {
	background-size: cover;
	color: #FFFFFF;
	float:left;
	padding-bottom: 330px;
	padding-top: 330px;
	width:50%;
	text-align:center;
}

#pagetitle {
	padding: 0px;
	margin: 0px;
}

#whatweoffer {
	background-size: cover;
	float: left;
	padding-top: 321px;
	padding-bottom: 321px;
	width:50%;
	text-align:center;
}

#navbar{
	float: right;
}

#heroimage {
	float:right;
	margin-right: 180px;
	margin-top: 180px;
}

#readmore {
	font-style: italic;
	text-decoration: underline;
}